html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-size: max(1vw, 11pt);
    font-family: 'Times New Roman', Times, serif;
    --muted-dark-blue: #102B30;
    --dark-blue: #102131;
    --rich-blue: #073f50;
    --mid-blue: #143e54;
    --green-accent: #127870;
    --vibrant-green: #19A69A;
    --dark-green: #0D544E;
    --dark-cyan: #06424c;
    --light-text: #b9cbd5;
    --mid-text: #66bbb4;
    --peachy: #F7CCA1
}
.inline-container {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
#sidebar {
    position: fixed;
    text-align: center;
    height: 100%;
    width: 25%;
    min-height: fit-content;
    background-color: var(--dark-blue);
    color: var(--light-text);
    padding: 10px;
    border-right: 0.625rem dotted var(--green-accent);
    box-sizing: border-box;
}
#main {
    position: absolute;
    right: 0;
    width: 75%;
    height: 100%;
    overflow-y: auto;
    background-color: var(--dark-blue);
    background-image: url(../media/background.jpg);
    background-size: cover;
    min-height: fit-content;
    padding: 2% 5%;
    box-sizing: border-box;
}
h1{
    font-size: 4.2rem;
    position: relative;
    text-transform: uppercase;
}
#mobile-menu{
    display:none;
}
.mobile-menu-item{
    display: none;
}
#menu{
    --xtrans: 0;
    --ytrans: 0;
    position:absolute;
    bottom: 3rem;
}
.menu-item{
    width: 80%;
    background-color: var(--vibrant-green);
    color: var(--dark-blue);
    margin-top: 20px;
    padding: 5px !important;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    border: none;
    outline: none;
    box-shadow: none;
    box-sizing: content-box;
}
.menu-item:hover:not(.menu-active){
    background: var(--dark-green);
    color: var(--vibrant-green);
    cursor:pointer;
}
.menu-active{
    background: var(--mid-blue);
    color: var(--mid-text);
    border-bottom:  0.25rem dotted var(--green-accent);
    border-color: var(--green-accent);
}
.main-container{
    background-color: var(--dark-blue);
    color: var(--light-text);
    padding: 1rem 1.5rem;
    margin-bottom: 3rem;
    position: relative;
    text-align: justify;
    text-justify: inter-word;
    border-bottom:  0.45rem dotted var(--green-accent);
}
#main-content{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: space-between;
}
.main-container h2{
    font-size: 2.25rem;
    color: var(--vibrant-green);
    position: absolute;
    top: -1.75em;
    display: inline;
    text-align: right;
    text-shadow: 0.24rem 0.25rem 5px var(--dark-blue);
    width: 100%;
    transform: translateX(-2rem);
}

.main-whole{
    width: 100%;
}
.main-half{
    width: 43%;
}

@media (max-width: 1024px) {
    .inline-container {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        display: block;
        position: static;
    }
    h1:first-child{
        margin-top: 0 !important;
    }
    #sidebar {
        position: static;
        width: 100%;
        height: fit-content;
        border: none;
        border-bottom: 0.625rem dotted var(--green-accent);
        box-sizing: border-box;
        padding-top: 2rem;
    }
    #main {
        overflow: auto;
        position: static;
        width: 100%;
        min-height: 100%;
        height: fit-content;
        background-size: cover;
        background-repeat: repeat;
    }
    #menu{
        --xtrans: -50%;
        --ytrans: 100%;
        position: fixed;
        transition: transform   0.5s cubic-bezier(0.5, 0.5, 0.29, 0.98);
        z-index: 4;
        left: 50%;
        bottom: 0;
        width: fit-content;
        height: fit-content;
        transform: translate(var(--xtrans), var(--ytrans));
        background-color: var(--dark-blue);
        padding-bottom: 1rem;
    }
    .menu-active{
        display: none;
    }
    #mobile-menu{
        position: fixed;
        bottom: 0;
        left: 50%;
        display: block;
        width: fit-content;
        height: fit-content;
        transform: translateX(-50%);
        z-index: 3;
    }
    .mobile-menu-button{
        margin: auto;
        width: fit-content;
        height: fit-content;
    }
    .mobile-menu-item{
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .main-half{
        width: 100%;
    }
    .radio-button{
        margin-left: 2rem;
    }
}

@media (min-width: 1025px) {
    #menu{
        --xtrans: 0;
        --ytrans: 0;
    }
}


